# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python
# azure-monitor-opentelemetry

azure-functions
requests
PyYAML
opsgenie-sdk==2.1.5
slack-sdk==3.36.0
azure-data-tables
azure-storage-queue
azure-storage-blob
bcrypt
